<%= form_tag '', :method => :get, :id => 'sidebar_products_search' do %>
  <% @filters.each do |filter| %>

    <div class="submenu navigation taxonfilter" data-hook="navigation">
      <h4 class="filter-title"> <%= filter.property.presentation %> </h4>
      <ul class="checkboxes">
        <% filter.options.each do |filter_option| %>
          <li>
            <label class="checkbox-label" for="<%= filter_option.value.parameterize %>">
              <input type="checkbox"
                     id="<%= filter_option.value.parameterize %>"
                     name="<%= filter_option.property.name %>[]"
                     value="<%= filter_option.value %>"
                     <%= ' checked' if params[filter_option.property.name].try(:include?, filter_option.value) %>/>
              <span><%= filter_option.value %> (<%= filter_option.number_of_products %>)</span> 
          </li>
        <% end %>
      </ul>     
    </div>
  <% end %>
  <input type="submit" />
<% end %>